/* 
htc122.css
ヴゴックズイ
2024/07/18
 */

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background-color: #39c;
  background-image: url("../images/htc122_back.jpg");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  background-position: left top;
  font-family: "ＭＳ Ｐゴシック", sans-serif;
}

#container {
  width: 600px;
  margin: 50px auto 0;
  background-color: #fff;
  padding: 20px;
}

#header {
  /* ない */
}

#contents {
  width: 600px;
  height: 345px;
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 20px;
}

#footer {
  width: 590px;
  height: 30px;
  clear: both;
  background-color: #fff;
  background-image: url("../images/htc122_footer.gif");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 10px;
  padding-right: 10px;
}

#footer p {
  text-align: right;
  color: #fff;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
  font-size: 80%;
}

#main {
  float: right;
  width: 400px;
  height: 400px;
}

#main h2 {
  border-bottom: 1px solid #c30;
  width: 300px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#main p {
  margin-left: 5px;
  font-size: 65%;
  line-height: 1.6em;
}

#menu {
  float: left;
  width: 180px;
  height: 400px;
  padding-left: 20px;
}

#menu h2 {
  margin-top: 10px;
}

h2 {
  font-size: 0.8em;
  color: #333;
}

li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 80%;
}
